<div class="phone-menu">
  <ul class="menu">
    <li class="phone-menu-item"><a href="#about" class="scrolllink">About</a></li>
    <li class="phone-menu-item"><a href="#services" class="scrolllink">Services</a></li>
    <li class="phone-menu-item"><a href="#clients" class="scrolllink">Clients</a></li>
    <li class="phone-menu-item"><a href="#contact" class="scrolllink">Contact</a></li>
  </ul>
</div>

<header class="header">
  <span class="bg"></span>

  <a href="#top" class="logo scrolllink"></a>

  <ul class="menu">
    <li><a href="#about" class="scrolllink">About</a></li>
    <li><a href="#services" class="scrolllink">Services</a></li>
    <li><a href="#clients" class="scrolllink">Clients</a></li>
    <li><a href="#contact" class="scrolllink">Contact</a></li>
  </ul>

  <div class="btn-menu">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <div>MENU</div>
  </div>
</header>
