{% capture path_prefix %}{% if page.url != '/index.html' %}/{% endif %}{% endcapture %}
<li><a href="{{ path_prefix }}#about" class="scrolllink">About</a></li>
<li><a href="{{ path_prefix }}#services" class="scrolllink">Services</a></li>
<li><a href="{{ path_prefix }}#clients" class="scrolllink">Clients</a></li>
<li><a href="{{ path_prefix }}blog" class="scrolllink">Blog</a></li>
<li><a href="{{ path_prefix }}career" class="scrolllink">Career</a></li>
<li><a href="{{ path_prefix }}#contact" class="scrolllink">Contact</a></li>
