---
layout: default
---
<section class="subheader subheader-team">
  <div class="container">
    <h1>Career opportunities</h1>
    <h2>Join our international team and shape the future of 100Starlings and your career for the better.</h2>
  </div>
</section>

<section class="content" id="career-advert">
  <div class="container">
    <article class="post-content">
      <h1>{{ page.title }}</h1>

      <section id="career-intro">
        <h2>We want to talk to you</h2>

        <p>We’re a small group of freelancers that have formed a digital agency
        / cooperative.  We’ve been very successful at having more work than we can
        handle - and that is taking its toll on us.</p>

        <p>That is why we’re looking for a number of people to join our ranks – web
        professionals who want to improve themselves, shape the form of the
        cooperative, and make an impact while working in an international team of
        skilled peers.</p>

        <p>In doing so, you’ll get to work on challenging projects, learn from us or
        even lead the way.</p>

        <h2>What you’ll get - let’s start with flexibility on:</h2>

        <ul>
          <li><strong>When</strong> – work no longer has to be a 9-to-5 chore, so if
            only working 3 days per week motivates you and fits your balance
            – that’s fine with us too.</li>
          <li><strong>Where</strong> – your choice – we have an office at Colabs
            Buda, but a lot of us practice remote working, from either London,
            Budapest, Keszthely, so it’s really up to you.</li>
          <li><strong>How</strong> – you can be a permanent employee, or work
            contract. At the end of the day, it’s the hours you put in, and impact
            you produce that matters, so if working contract under KATA is enough,
            we’ll help you make it happen. The cooperative is flexible enough to
            make it work for everyone’s interests.</li>
          <li><strong>Reward</strong> – we ensure that what you’ll be rewarded with
            is above market prices. If you excel and contribute to success, we
            allocate bonuses based on individual performance as a means of profit
            sharing.</li>
          <li><strong>Training</strong> – we run a conference and training budget,
            so you could be coming with us to <a href="http://craft-conf.com/2016">CRAFT</a>
            this year if you can attend. Or you could find the best way that suits
            your professional improvement.</li>
          <li><strong>Mentoring</strong> – we’re swamped with work, but if you want
            to learn, you can help us with that workload and skill up. That’s why
            you don’t have to be an expert, and if you are, you’ll find us easy to
            get along with and pleasure to work alongside.</li>
        </ul>
      </section>

      <section id="career-requirements">
        <h2>What you can bring</h2>

        {{ content }}
      </section>

      <section id="career-about-us">
        <h2>A bit more about us</h2>

        <p>You can see our fledgling website at
          <a href="http://www.100starlings.com">www.100Starlings.com</a> –
          but we realise that doesn’t do justice to the talent of the people you’ll
          be working alongside, nor the projects and technical challenges you’ll
          either be cutting your teeth into, or shaping up solutions for. You might
          have noticed that we’ve worked with some big client names – they’re not
          the easiest to please, but we’ve always left satisfaction in our wake.</p>

        <p>At least 4 of us have 10+ years experience in the web development field
          – primarily Ruby on Rails, but also Node.js, as well as JavaScript
          frameworks (Angular, Ember, etc). We also do mobile development – native
          iOS, Android, as well as hybrid Angular / Ionic. You’ll also find DevOps
          and UX & Visual design in our midst. Suffice to say, you’ll be exposed to
          much you could learn from.</p>

        <p>If you join, you’ll also be dealing with clients directly – we believe
          all of us should be able to wear multiple hats, and quite often will
          architect, project manage, consult and advise.</p>

        <p>Most of our clients are not based in Hungary, so it goes without saying
          – your English doesn’t have to be perfect, but you shouldn’t feel like
          a fish out of water if you find yourself on a trip abroad.</p>
      </section>

      <section id="career-cta">
        <p>If you think you’re up for the challenge, let us know by emailing us at
          <strong>career@100starlings.com</strong>.</p>
      </section>

      <section id="career-more">
        <h2>We're also looking for:</h2>

        <ul>
          {% for advert in site.pages %}
          {% if advert.path contains "career/" and advert.url != page.url %}
            <li><a href="{{ advert.url }}">{{ advert.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
    </article>
  </div>
</section>

<section class="break break-right">
  <hr>
  <div class="container"><span></span></div>
</section>

{% include contact.html %}
